<a href="https://colab.research.google.com/github/athirakp1/DATASCIENCE-LAB/blob/main/CO5_NLTK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

stop_words = set(stopwords.words('english'))  

#Dummy text
txt = "Hello. MCA S3 is fantastic. we learn many new concepts and implementations.List of all the data science is a new paper."
  
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
tokenized = sent_tokenize(txt)
for i in tokenized:

      
    # Word tokenizers is used to find the words 
    # and punctuation in a string
    wordList = word_tokenize(i)
  
    # removing stop words from wordList
    wordList = [w for w in wordList if not w in stop_words]
  
    #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
    tagged = nltk.pos_tag(wordList)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
print(stop_words)

{'when', "weren't", 'these', 'will', 've', 't', 'll', 'most', 'it', 'themselves', 'some', 'but', 'into', 'each', 'or', 'where', 'over', 'before', "that'll", 'with', "you'll", 'as', 'because', 'couldn', 'himself', 'doing', "didn't", 'own', 'than', 'out', 'have', 'is', 'once', "she's", "hadn't", "won't", 'here', 'has', "you've", 'they', 'doesn', 'hasn', "isn't", 'ours', 'below', 'above', "shouldn't", 'at', 'both', 'theirs', "hasn't", 'he', 'between', 'should', 'she', 'you', 'not', 'same', 'how', "shan't", "haven't", 'haven', 'ma', 'under', 'which', 'other', 'herself', 's', 'mustn', 'isn', 'weren', 'i', 'my', 'needn', 'ourselves', 'we', 'if', "you're", 'mightn', 'ain', 'y', 'his', 'who', "should've", 'down', 'why', 'in', "mightn't", 'against', "mustn't", "aren't", 'itself', 'by', 'shouldn', 'its', 'aren', 'no', 'hers', 'our', 'm', "don't", 'your', 'after', 'are', 'off', 'too', 'just', 'there', 'further', 'nor', 'yours', 'wouldn', 'does', 'her', 'now', 'again', 'their', "doesn't", 'didn', 'what', 'until', 'to', 'that', 'been', "wouldn't", 'from', 'be', 'shan', 'more', 'myself', 'the', 'very', 'him', 'only', 'few', 'for', 'yourself', 'so', 're', 'any', 'a', 'can', 'were', 'o', 'while', 'had', 'during', 'wasn', 'being', 'an', "it's", 'of', 'd', 'them', 'on', 'me', 'those', 'hadn', 'don', "needn't", "couldn't", "you'd", 'was', 'about', 'all', 'do', 'am', 'then', 'such', 'having', 'through', 'up', "wasn't", 'this', 'and', 'yourselves', 'did', 'won', 'whom'}

In [ ]:
print(tokenized)

['Hello.', 'MCA S3 is fantastic.', 'we learn many new concepts and implementations.List of all the data science is a new paper.']

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style='seaborn')
#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5
colnames=['Sentiment','news']
df =pd.read_csv('all-data.csv', encoding="ISO-8859-1", names=colnames)
df.head()

  Sentiment                                               news
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  4846 non-null   object
 1   News       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['Sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
y=df['Sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['news'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=42)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(2907,)
(1939,)
(2907,)
(1939,)

In [ ]:
#Make train dataset as a dataframe
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'News'})
df2=pd.DataFrame(y_train)
df2=df2.rename(columns={0:'Sentiment'})
df_train=pd.concat([df1,df2],axis=1)
df_train

                                                   News Sentiment
0     Exel Composites ' long-term growth prospects r...  positive
1     The Samsung Mobile Applications Store was laun...   neutral
2     Altogether CapMan employs approximately 150 pe...   neutral
3     The segments through which the company operate...   neutral
4     UK 's Sarantel to outsource part of its proces...   neutral
...                                                 ...       ...
2902  The currency effect had a 3.0 pct , or 20 mln ...  negative
2903  `` Lidskoe Pivo 's investment program foresees...  positive
2904  Products include Consumer Electronics devices ...   neutral
2905  The bridge is part of the highway 14 developme...   neutral
2906  ( ADP News ) - Oct 1 , 2008 - Finnish consulti...  positive

[2907 rows x 2 columns]

In [ ]:
#Make test dataset as a dataframe
df3=pd.DataFrame(x_train)
df3=df3.rename(columns={0:'News'})
df4=pd.DataFrame(y_train)
df4=df4.rename(columns={0:'Sentiment'})
df_test=pd.concat([df3,df4],axis=1)
df_test

                                                   News Sentiment
0     Exel Composites ' long-term growth prospects r...  positive
1     The Samsung Mobile Applications Store was laun...   neutral
2     Altogether CapMan employs approximately 150 pe...   neutral
3     The segments through which the company operate...   neutral
4     UK 's Sarantel to outsource part of its proces...   neutral
...                                                 ...       ...
2902  The currency effect had a 3.0 pct , or 20 mln ...  negative
2903  `` Lidskoe Pivo 's investment program foresees...  positive
2904  Products include Consumer Electronics devices ...   neutral
2905  The bridge is part of the highway 14 developme...   neutral
2906  ( ADP News ) - Oct 1 , 2008 - Finnish consulti...  positive

[2907 rows x 2 columns]

In [ ]:
#removing punctuations
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_punctuation (text):
  if(type(text)==float):
    return text
  ans=""
  for i in text:
    if i not in string.punctuation:
      ans+=i
  return ans

In [ ]:
text='hello_ world_'
remove_punctuation(text)

'hello world'

In [ ]:
#storing the puntuation free text in a new column called clean_msg
df_train['News']=df_train['News'].apply(remove_punctuation)
df_test['News']=df_test['News'].apply(remove_punctuation)
df_train.head()

#punctuations are removed from news column in train dataset

                                                News Sentiment
0  Exel Composites  longterm growth prospects rem...  positive
1  The Samsung Mobile Applications Store was laun...   neutral
2  Altogether CapMan employs approximately 150 pe...   neutral
3  The segments through which the company operate...   neutral
4  UK s Sarantel to outsource part of its process...   neutral

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)
def generate_N_grams(text,ngram=1):
  words=[word for word in text.split(" ") if word not in set(stopwords.words('english'))]
  print("Sentence after removing stopword:",words)
  temp=zip(*[words[i:]for i in range(0,ngram)])
  ans=[' '.join(ngram) for ngram in temp]
  return ans

In [ ]:
generate_N_grams("The sun rises in the east",2)

Sentence after removing stopword: ['The', 'sun', 'rises', 'east']

['The sun', 'sun rises', 'rises east']

In [ ]:
generate_N_grams("The sun rises in the east",3)

Sentence after removing stopword: ['The', 'sun', 'rises', 'east']

['The sun rises', 'sun rises east']

In [ ]:
generate_N_grams("The sun rises in the east",4)

Sentence after removing stopword: ['The', 'sun', 'rises', 'east']

['The sun rises east']

In [ ]:
name='ATHIRA','KP'
s=' '.join(name)
s

'ATHIRA KP'

In [ ]:
s1=['Abeel','Adithya','Akash','Akshaya']
s2=[1,2,3,4]
s3=zip(s1,s2)
print(set(s3))

{('Akash', 3), ('Abeel', 1), ('Adithya', 2), ('Akshaya', 4)}